<div class="container">
  <h1 class ="banner"> Stupid Coaching</h1>
  <br>
  <br>
  <br>
  <br>


  <form action="/answer">

    <input type="text" name="question" placeholder="What's your question playa?">
    <input class="btn btn-primary" type="submit" value="Ask!">
  </form>


</div>
